header .section .inner{
    max-width: none;
    height: auto;
    padding: 0 20px;
}

body{
    margin: 0;
    padding: 0;
}

/* HEADER */


.body__container{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;   
    color: #333;
}

.section{

    border-bottom: 1px solid #333;
}

.site-name{
    width: 50px;
    
    display: block;
      
}

#search-nickname{
    display: flex;
    align-items: center;
    height: 100%;
}

/* VISUAL */

.character-info{
    
}

.character-image{

    position: relative;
    width: 50%;    
    box-sizing: border-box;
    overflow: hidden;
}

.character-info .pvp-info{
    position: relative;
    width: 50%;
    box-sizing: border-box;
    
}



.character-info li{
    list-style: none;
}
.section--visual .inner{
    display: block;
    max-width: none;
    padding: 80px 20px;
}

/* FLOAT CLEARFIX */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.float--left{
    float: left;
}

.float--right{
    float: right;
}