header .section .inner{
    max-width: none;
    height: auto;
    padding: 0 20px;
}

body{
    margin: 0;
    padding: 0;
}

/* HEADER */


.body__container{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;   
    color: #333;
}

.section{
    position: relative;
    
}

.site-name{
    width: 50px;   
    display: block;
    
    
}



/* VISUAL */

#wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: 80px;
}

.search-form{
    height: 200px;
    padding-top: 20px;
    padding-left: 40%;
    border-top: 1px solid #333;
    background-color: aqua;
}

input[type=text]{
    width: 300px;
    height: 30px;
    font-size: 16px;
}

input[type=submit]{
    width: 50px;
    height: 30px;
    font-size: 16px;
}

.another{
    
    width: 70%;
    background-color: blue;
    
}


.section--visual .inner{
    display: block;
    max-width: none;
    padding: 20px 20px;
}

/* ASIDE */
aside{
    width: 30%;
    margin-left: 70%;
    background-color: brown;
    transform: translateY(-100%);
}

/* FOOTER */
footer{
    height: 80px;
    position: relative;
    transform: translateY(-100%);
    background-color: #333;
}

/* FLOAT CLEARFIX */
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.float--left{
    float: left;
}

.float--right{
    float: right;
}