<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
<!-- 

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lacheln&pgh">
    <meta name="description" content="로스트아크 공식 api를 이용한 프로젝트"> -->

    <!--구글 폰트 -->
    <!-- <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap}" rel="stylesheet"> -->
    <link rel="stylesheet" th:href="@{/HtmlCss/mainStyle.css}" type="text/css">

</head>

<body>
    <div id="wrapper">
        <div class="body__container">
            <!-- HEADER -->
            <header class="section clearfix">
                <div class="site-name" style="background-color: orange;">
                    <img th:src="@{/image/loahubIcon.JPG}" alt="로아허브아이콘">
                </div>
            </header>
            <!-- VISUAL -->
            <section class="section section--visual clearfix">
                <div class="search-form">


                    <form id="search-nickname" method="post" action="/loahub/pvp">
                        <input type="text" id="nickname" name="nickname" placeholder="닉네임 입력">
                        <input type="submit" value="검색">
                        

                    </form>
                    <script>

                    </script>
                </div>

                <!-- 추후에 삽입할 내용 -->
                <div class="another">
                    <img src="./image/test-image.jpg" alt="테스트이미지">
                </div>

                <aside>
                    <div class="site-ad ">
                        <img src="./image/test-image.jpg" alt="">
                    </div>
                </aside>

        </div>
        </section>
        <!-- FOOTER -->
        <footer class="section">
            <div class="inner clearfix">
                footer내용
            </div>
        </footer>
    </div>
    </div>

</body>

</html>