<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Loahub</title>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lacheln&pgh">
    <meta name="description" content="로스트아크 공식 api를 이용한 프로젝트">

    <!--구글 폰트 -->
    <!-- <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap}" rel="stylesheet"> -->
    <link rel="stylesheet" th:href="@{/HtmlCss/searchDisplay.css}">


</head>

<body>

    <div class="body__container">

        <!-- HEADER -->
       
        <header class="section clearfix">
        
            <div class="site-name float--left">
                <a href="/loahub"><img th:src="@{/image/loahubIcon.JPG}" alt="로아허브아이콘"></a>
            </div>

            <div class="search-form float--right">
                <form id="search-nickname" method="post" action="/loahub/pvp">
                    <input type="text" id="nickname" name="nickname" placeholder="닉네임 입력">
                    <input type="submit" value="검색">
                    

                </form>
            </div>

        </header>



        <!-- VISUAL -->
        <section class="section section--visual">
            <div class="inner clearfix">
                <div class="character-info">
                    <div class="character-nickname">
                        <p th:text="${characterName}"></p>
                    </div>
                    <p></p>
                    <div class="float--left">
                        <img th:src="${characterImage}" alt="캐릭터이미지" class="character-image">
                    </div>

                    <div class="pvp-info float--right">
                        <ul>

                            <li>
                                <p>
                                    <div class="seasonname">시즌:
                                        <div th:text="${seasonName}"><br></div>
                                    </div>
                                </p>

                                <div class="competitive">경쟁전 </div>
                                
                                <p>
                                    <div class="rank">순위:
                                        <div th:text="${rank}"></div>
                                    </div>
                                </p>

                                <p>
                                    <div class="rankname">랭크:
                                        <div th:text="${rankName}"></div>
                                         <img class="Rankicon" th:src="${rankIcon}" alt="랭크아이콘">
                                    </div>
                                </p>
                                
                               
                                                          
                                <p>
                                    <div class="ranklastmmr">시즌 마감 mmr:
                                        <div th:text="${rankLastMmr}"></div>
                                    </div>
                                </p>

                                <p>
                                    <div class="playcount">플레이 횟수:
                                        <div th:text="${playCount}"></div>
                                    </div>
                                </p>

                                <p>
                                    <div class="victorycount">승리 수:
                                        <div th:text="${victoryCount}"></div>
                                    </div>
                                </p>

                                <p>
                                    <div class="losecount">패배 수:
                                        <div th:text="${loseCount}"></div>
                                    </div>
                                </p>

                                <p>
                                    <div class="tiecount">타이 카운트:
                                        <div th:text="${tieCount}"></div>
                                    </div>
                                </p>

                                <p>
                                    <div class="killcount">킬 수:
                                        <div th:text="${killCount}"></div>
                                    </div>
                                </p>

                                <p>
                                    <div class="acecount">에이스 횟수:
                                        <div th:text="${aceCount}"></div>
                                    </div>
                                </p>

                                <p>
                                    <div class="deathcount">데스 수:
                                        <div th:text="${deathCount}"></div>
                                    </div>
                                </p>
                                                     
                                <!-- <div class="teamdeathmatch">팀 데스매치:</div>
                                                   
                                <div class="deathmatch">데스매치: </div>
                                                     
                                <div class="teamelimination">올킬 횟수: </div>
                                                       
                                <div class="coopbattle">coopbattle?</div> -->
                            </li>
                        </ul>
                    </div>

                </div>



            </div>
        </section>



    </div>
</body>

</html>